# GEMINI_API_KEY: Required for Gemini AI API calls.
# AI Studio automatically injects this at runtime from user secrets.
# Users configure this via the Secrets panel in the AI Studio UI.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
# AI Studio automatically injects this at runtime with the Cloud Run service URL.
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="MY_APP_URL"

# KUSTOM FIREBASE CONFIGURATION (Opsional)
# Tambahkan variabel di bawah ini di tab Secrets/Environment panel AI Studio
# jika Anda ingin menghubungkan ke database Firebase kustom Anda sendiri.
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
VITE_FIREBASE_DATABASE_ID=""

const firebaseConfig = {
  apiKey: "AIzaSyCdK6VDPlGekwviLkWlVafn_J68dnP0kmY",
  authDomain: "device-streaming-622fe2e9.firebaseapp.com",
  databaseURL: "https://device-streaming-622fe2e9-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "device-streaming-622fe2e9",
  storageBucket: "device-streaming-622fe2e9.firebasestorage.app",
  messagingSenderId: "1085886008979",
  appId: "1:1085886008979:web:d12ac8d9fd74eafdeb4766"
};